@charset "UTF-8";
/* line 3, ../style.scss */
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

/* line 13, ../style.scss */
html {
  /*background: #FF9B54;*/
}

/* line 17, ../style.scss */
body {
  color: #555;
  font: 12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  line-height: 1.5;
  background: #fff;
  background: rgba(56, 56, 56, 0.8);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
}

/* line 29, ../style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 33, ../style.scss */
a {
  color: #FF9B54;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
/* line 41, ../style.scss */
a:hover {
  color: #FF513B;
}
/* line 44, ../style.scss */
a:active, a:focus {
  outline: 0;
}

/* line 48, ../style.scss */
.clearfix {
  *zoom: 1;
}
/* line 50, ../style.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 56, ../style.scss */
.sp {
  display: none;
}

/* line 59, ../style.scss */
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0;
}

/*   layout    */
/* line 66, ../style.scss */
#wrapper {
  margin: 0 auto;
}

/* line 70, ../style.scss */
#main {
  width: 100%;
  margin: 0 auto;
}

/*     header   */
/* line 76, ../style.scss */
#header {
  position: absolute;
  width: 100%;
  background-color: transparent;
}
/* line 80, ../style.scss */
#header .h-inner {
  width: 90%;
  margin: 0 auto;
}
/* line 84, ../style.scss */
#header .h-inner h1 a {
  font-size: 1.6rem;
}

/* line 92, ../style.scss */
.m-banner {
  position: relative;
  padding: 5rem;
  text-align: center;
}
/* line 97, ../style.scss */
.m-banner p {
  font-size: 3.0rem;
  color: #fff;
}
