@charset "utf-8";

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  /*background: #FF9B54;*/
}

body {
  color: #555;
  font: 12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  line-height: 1.5;
  // border-top: 3px solid #96b54c;
  background: #fff;
  background: rgba(56,56,56,0.8);
   -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #FF9B54;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  &:hover {
    color: #FF513B;
  }
  &:active, &:focus {
    outline: 0;
  }
}
.clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.sp {
  display: none;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0;
}

/*   layout    */
#wrapper {
  margin: 0 auto;
}

#main {
  width: 100%;
  margin: 0 auto;
}

/*     header   */
#header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  .h-inner {
    width: 90%;
    margin: 0 auto;
    h1 {
      a {
        font-size: 1.6rem;
      }
    }

  }
}

.m-banner {
  position: relative;
  // margin-top: 2.0rem;
  padding: 5rem;
  text-align: center;
  p {
    font-size: 3.0rem;
    color: #fff;
  }
}




