@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
	margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
}

body {
	height: 100%;
	background-color: #e7edef;
	color: #333;
	font: 14px/1.6 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
}

nav {
  display: inline-block;
  padding: 10px;
  font-family: Raleway;
  text-align: center;
  /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);*/
}


#header {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: #345678;
	/*border-top: 8px solid #33AAFF;*/
	border-bottom: 2px dashed #333;
}

#header h1{
	color: #fff;
	float: left;
	font-size: 30px;
	font-family: "Comic Sans MS";
	padding: 10px 50px;
}

.nav-main {
	width: 700px;
	float: right;
	display: inline-block;
}

.nav-1 {
	/*margin-left: 520px;*/
	padding: 20px;
}

.link-1 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 25px;
  margin: 0 10px;
}
.link-1:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 24px 0px;
}

.content {
	/*width: 100%;*/
	overflow: hidden;
	position: relative;
	margin: 0;
	height: 100%;
}

.content-main {
	margin: 30px auto;
	width: 960px;
	min-width: 960px;
	/*min-height: 1176px;*/
	background-color: #fff;
}

.content-top {
	width: 100%;
	height: 450px;
	background-color: #56789A;
}

.column {
	width: 20%;
  	/*padding: 2%;*/
  	height: 100%;
  	float: left;
  	margin: 0;
  	text-align: center;
  	font-size: 17px;
  	transition: all 0.5s ease;
}
.icon-size{
	font-size: 150px !important;
}
.text-none {
	opacity: 0;
}
.red {
	background: #F25648;
}
.orange {
	background: #FC7B16;
}
.yellow {
	background: #FEE532;
}
.green {
	background: #23AF4C;
}
.blue {
	background: #42B4E6;
}
.wraper {
	width: 100%;
}

.wraper:after {
	clear: both;
	display: block;
	content: "";
}

.top-image {
	height: 500px;
	
}

.top-image img{
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
}

.top-image p{
	font-size: 50px;
	padding: 50px 50px;
}

.sideBar {
	/*display: none;*/
	width: 180px;
	height: 720px;
	float: left;
	background-color: #556;
	margin: 10px;
}

.mainBar {
	/*display: none;*/
	width: 700px;
	height: 720px;
	float: right;
	background-color: #557;
	margin: 10px;
}

.footer {
	width: 100%;
	height: 50px;
	background-color: #345678;
}

.footer p{
	color: #fff;
	float: right;
	padding: 15px;
}

.box {
	width: 100%;
	height: 300px;
}

.box img {
	/*width: 100%;*/
	height: 100%;
}
	
.show1 {
	width: 50%;
	float: left;
}
.show2 {
	background-color: #ff0000;
	width: 50%;
	float: right;
}
.show3 {
	background-color: #0AA00A;
}
.show4 {
	background-color: #00ffff;
}
.show5 {
	background-color: #0AA00A;
	width: 70%;
	float: right;
}
.show6 {
	background-color: #0FACCE;
	width: 30%;
	float: left;
}

.about {
	height: 650px;
	border: 1px solid #AAA;
	text-align: center;
	background-image: url(file:///Users/wakuwaku/Document/front/site/images/Paper01.jpg);
}

.about p{
	padding: 12px;
	font-size: 30px;
}

.try {
	font-size: 21px;
}


